In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('reviews.txt',sep='\t',names=['reviews','comments'])

In [10]:
df

      reviews                                           comments
0           1            The Da Vinci Code book is just awesome.
1           1  this was the first clive cussler i've ever rea...
2           1                   i liked the Da Vinci Code a lot.
3           1                   i liked the Da Vinci Code a lot.
4           1  I liked the Da Vinci Code but it ultimatly did...
...       ...                                                ...
6913        0                     Brokeback Mountain was boring.
6914        0       So Brokeback Mountain was really depressing.
6915        0  As I sit here, watching the MTV Movie Awards, ...
6916        0    Ok brokeback mountain is such a horrible movie.
6917        0   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 2 columns]

In [11]:
df.to_csv('reviews.csv')